* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: none !important;
}

/* 
.main-container {
    padding: 10px;
} */

/* #main-container>div.main-content>div>div.page-content>div>div {
    margin-top: 40px;
} */

#main-container>div.main-content>div>div.page-content {
    padding: 10px !important;
}

#breadcrumbs {
    display: flex;
    align-items: center;
}

#breadcrumbs>ul {
    margin-top: 0px !important;
}

#ui-datepicker-div {
    width: fit-content;
}

.ui-datepicker td a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-datepicker td a,
.ui-datepicker td span {
    text-align: center !important;
}

/* .page-header, */
.header-menu-con {
    margin-bottom: 12px;
}

.header-menu-con,
.table-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* .page-header {
    padding: 10px;
} */

.table-btn-container {
    justify-content: right;
    align-items: center;
}

/* .page-title {
    font-size: 30px !important;
    font-weight: bolder !important;
    color: #0000CC !important;
} */

.tabulator-col .tabulator-col-title hr {
    margin-top: 4px !important;
    margin-bottom: 5px !important;
}

.tabulator {
    margin-bottom: 0;
    border: 1px solid #ddd;
}

.tabulator .tabulator-col {
    background-color: #F8F8F8 !important;
    border-right: 1px solid #ddd !important;
}

.tabulator-col .tabulator-header-filter {
    position: relative;
}

.tabulator-col .tabulator-header-highlight {
    background-color: #FFC657;
}

.tabulator-col .clear-icon {
    cursor: pointer;
}

.tabulator-col .clear-icon {
    background-color: #FFFFFF;
    position: absolute;
    top: 55.5%;
    right: 9px;
    z-index: 1;
    font-size: 14px;
}

.tabulator-row .tabulator-cell {
    border: 0px #ced4da solid;
}

.tabulator .tabulator-row .action-column {
    min-width: fit-content;
}

.tabulator .tabulator-col:last-of-type,
.tabulator .tabulator-row .action-column {
    border-right: unset !important;
}

.tabulator .tabulator-row {
    background-color: #ffffff;
}

.tabulator .tabulator-row .tabulator-cell {
    cursor: default;
    border: none !important;
    border-right: solid 1px #ced4da !important;
}

.tabulator .tabulator-row:hover {
    background-color: #f0f4ff !important;
}

.tabulator .tabulator-tableholder .tabulator-placeholder .tabulator-placeholder-contents {
    color: #393939;
    font-size: 15px;
}

#noDataMessage {
    display: none;
    min-height: 695px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    border: solid 1px #ddd;
    padding: 20px 10px;
}

.loader-container {
    height: 695px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 6px solid #ececec;
    border-top: 6px solid #ffc411;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

.swal2-popup {
    font-size: 1.3rem !important;
    font-family: Tahoma, sans-serif !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}